<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Some Wildflower App</name>
    <description>An app built on the Wildflower platform</description>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <hook type="before_build" src="scripts/build.sh" />
    <hook type="before_run" src="scripts/build.sh" />
    <platform name="android">
      <icon density="ldpi" foreground="icons/icon.xml" background="icons/background.xml" src="icons/icon.xml" />
      <icon density="mdpi" foreground="icons/icon.xml" background="icons/background.xml" src="icons/icon.xml" />
      <icon density="hdpi" foreground="icons/icon.xml" background="icons/background.xml" src="icons/icon.xml" />
      <icon density="xhdpi" foreground="icons/icon.xml" background="icons/background.xml" src="icons/icon.xml" />
      <icon density="xxhdpi" foreground="icons/icon.xml" background="icons/background.xml" src="icons/icon.xml" />
      <icon density="xxxhdpi" foreground="icons/icon.xml" background="icons/background.xml" src="icons/icon.xml" />
    </platform>
</widget>
